<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logolFt"><img src="{{site.url}}/assets/images/logoBtm.png" alt=""></div>
                <div class="footerTitle">Email: <a href="mailto:contact@apron.network">contact@apron.network</a></div>
                <div class="rebase">{% t support %}
<!--                    <a href="http://rebase.network/" target="_blank" class="text-white"><img src="{{site.url}}/assets/images/Footer_Rebase.png" alt=""></a>-->
                    <img src="{{site.url}}/assets/images/oneblock.png" alt=""></div>
            </div>
            <div class="col-lg-6 rht">
                <div class="tlt">Apron Network</div>
                <div class="links">
                    <div>{% t homepage.media.description %}</div>
                    <ul>
                        <li><a href="https://twitter.com/apronofficial1" target="_blank"><img src="{{site.url}}/assets/images/t.png" alt=""></a></li>
                        <li><a href="https://github.com/Apron-Network/" target="_blank"><img src="{{site.url}}/assets/images/g.png" alt=""></a></li>
                        <li><a href="https://t.me/apronnetwork" target="_blank"><img src="{{site.url}}/assets/images/te.png" alt=""></a></li>
                        <li><a href="https://apron-network.medium.com" target="_blank"><img src="{{site.url}}/assets/images/m.png" alt=""></a></li>
                        <li><a href="https://discord.gg/Bu6HzJP2YY" target="_blank"><img src="{{site.url}}/assets/images/c.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
