<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.index_title}}</title>
    <link rel="stylesheet" href="{{site.url}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/fonts.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/index.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/cnindex.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/mobile.css">
    <link rel="icon" href="{{site.url}}/assets/images/favicon.ico">
</head>
